<h1>Editing anottation</h1>

<%= render "form", anottation: @anottation %>

<br>

<div>
  <%= link_to "Show this anottation", @anottation %> |
  <%= link_to "Back to anottations", anottations_path %>
</div>
