
<div class="d-flex flex-column align-items-center " >

    <h1 class="display-4">.::Remember::.</h1>
    <p>Seja bem-vindo!</p>
    <div>
      <%= link_to "Anotações", anottations_path, class: "btn btn-dark"%>
      <%= link_to "Amigos", friends_path, class: "btn btn-dark"%>
  
    </div>

</div>


<%# <div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    
                    
                </ul>
            </div>
        </div>


    </div>

</div> %>